.conteiner {
  padding: 25px;

  .list_wrap {
    padding: 0;

    .list {
      margin: 10px 0 10px 0;
      padding: 10px 10px 10px 10px;
      width: 800px;
      height: 200px;
      border: 1px solid black;
      border-radius: 10px;
      list-style: none;

      .subtitle {
        display: flex;
        height: 40px;
        border-bottom: 1px solid black;
        .title {
          margin-right: 30px;
          font-size: 20px;
          color: rgb(0, 27, 78);
        }
        .author {
          font-size: 20px;
          span {
            color: crimson;
          }
        }
        button {
          display: block;
          height: 30px;
          margin-left: auto;
        }
      }
    }
  }
}
